<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.MovieProject.Dto.Movie" alias="mov"/>
		<typeAlias type="com.MovieProject.Dto.Member" alias="mem"/>
		<typeAlias type="com.MovieProject.Dto.Schedule" alias="sc"/>
		<typeAlias type="com.MovieProject.Dto.Theaters" alias="th"/>
	</typeAliases>
	<mappers>
		<mapper resource="mapper/AdminMapper.xml"/>
		<mapper resource="mapper/MovieMapper.xml"/>
		<mapper resource="mapper/MemberMapper.xml"/>
	</mappers>
</configuration>