<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.MovieProject.Dao.MemberDao">
	<select id="selectMemberInfo" resultType="mem">
		select * from members where mid = #{mid} <if test="mpw != null">and mpw = #{mpw}</if>
	</select>
	<insert id="insertMember">
		insert into members(mid,mpw,mname,memail,mdate,mprofile,mstate) 
		<if test="mstate == 'YK'">
		values(#{mid}, 'kakaoAccount', #{mname}, #{memail}, sysdate, #{mprofile}, #{mstate})
		</if>
		<if test="mstate == 'YC'">
		values(#{mid}, #{mpw}, #{mname}, #{memail}, sysdate, #{mprofile}, #{mstate})
		</if>
	</insert>
	<select id="selectMid" resultType="String">
		select mid from members where mid = #{mid}
	</select>
	<select id="getReserveList" resultType="hashmap">
	select *
	from schedules sc inner join movies mv on mv.mvcode = sc.mvcode 
	inner join reserves rsv on sc.schall = rsv.schall and sc.scdate = rsv.scdate 
	inner join theaters th on sc.thcode = th.thcode
	where rsv.mid = #{mid}
	order by sc.scdate desc
	</select>
</mapper>