<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.MovieProject.Dao.MovieDao">
	<select id="selectMvList" resultType="mov">
		select *
		from (select mvcode, mvtitle, mvdirector, mvactors, mvinfo, to_char(mvopen, 'yyyy-mm-dd') as mvopen, mvposter 
		from movies
		order by mvopen desc)
		where rownum between 1 and 6
	</select>
	<select id="selectMovie" resultType="mov">
		select *
		from movies
		where mvcode = #{mvcode}
	</select>
	<select id="selectMovieList" resultType="mov">
	
		SELECT MVCODE, MVTITLE, MVDIRECTOR, MVACTORS, MVINFO, MVGENRE, TO_CHAR(MVOPEN, 'YYYY-MM-DD')
			   		  AS MVOPEN, MVPOSTER, MVSTATE
		FROM MOVIES 
		WHERE MVCODE IN (SELECT MVCODE 
						 FROM SCHEDULES
		 				 WHERE SCDATE > SYSDATE <if test='thcode != "1"'>AND THCODE = #{thcode}</if>
		 				 GROUP BY MVCODE)
		ORDER BY MVOPEN DESC
		
	</select>
	<select id="selectTheaterList" resultType="th">
	SELECT *
		FROM THEATERS 
		WHERE THCODE IN (SELECT THCODE 
						 FROM SCHEDULES
		 				 WHERE SCDATE > SYSDATE
		 				 <if test='mvcode != "1"'>AND MVCODE = #{mvcode}</if>
		 				 GROUP BY THCODE)
	</select>
	<select id="selectScList" resultType="sc">
	SELECT 
	<if test='scdate == "1"'>to_char(scdate, 'YYYY/MM/DD') as SCDATE</if>
	<if test='scdate != "1"'>*</if>
	FROM SCHEDULES
	WHERE THCODE = #{thcode} AND MVCODE = #{mvcode} 
	<if test='scdate == "1"'>AND SCDATE > SYSDATE group by to_char(scdate, 'YYYY/MM/DD') ORDER BY SCDATE</if>
	<if test='scdate != "1"'> AND TO_CHAR(SCDATE, 'YYYY/MM/DD') = #{scdate} ORDER BY SCHALL</if>
	
	</select>
	
	<select id="selectMaxRecode" resultType="string">
	SELECT NVL(MAX(RECODE),'RE00000') FROM RESERVES
	</select>
	<insert id="insertReserve">
	insert into reserves values(#{recode},#{mid},#{mvcode},#{thcode},#{schall},TO_DATE(#{scdate}, 'YYYY/MM/DD HH24:MI:SS'), sysdate)
	</insert>
</mapper>